@charset "utf-8";
/* CSS Document */
body    {background-color: sandybrown;}
#wrapper2 {background-color: white;margin: 0px auto;width:900px;}
#wrapper  {background-color: white;margin: 0px auto;width:950px;}
#Logo	{float:left;}
#Icon	{float:right;}
#navigation	{clear:both;word-spacing:20px;border-top: solid Black 1px;border-bottom: solid Black 1px; margin: 5px 5px 5px 5px; padding: 15px 0px 15px 5px}
	#navigation a {font-family:Arial; font-size:15px;text-decoration-line: none; margin-left:10px;}
#navigation a:link {color:#000;}
#navigation a:hover {color:#c60}

#Title {color: #c60; border-bottom:solid black 1px;}
#LeftContent  {float:left; width: 900px;}

#leftcontentimginbox{width:100000px; }

#wrapper3 {background-color: grey;margin: 1px auto;width:200px;float:left}
#LeftContent1 {font-family: Arial; font-size: 12px; margin:10px 0px 100px }
#LeftContent2 {font-family: Arial; font-size: 12px; margin: 00px 1px 200px;float:none}

#LeftContent3 {background-color:red;margin:1px auto;width:250px;}
#wrapper3 {background-color: grey;margin:1px auto;width:250px;padding-bottom: 10px;border-top: solid red 10px }




#wrapper4 {background-color: grey;margin:1px auto;width:250px;float:right;margin:0px 10px;padding-bottom: 10px}
#LeftContent4{background-color:green;width:250px;float:none;}

#wrapper5 {background-color: grey;margin: 0px auto;width: 250px;float: none;padding-bottom: 10px}
#LeftContent5 {background-color: orange}

#gallery {width: 1000px;}






#LeftContent img {border:solid black 1px ;padding: 5px;width:100px; }

#RightContent{float:right;width:300px;}
#RightContent p {font-family: Arial; font-size: 12px; margin:10px 0px 10px }

#footer  {clear:both;padding:10px 50px 10px 400px; border-top: solid black 1px}
